@import "tailwindcss";
/* Add to your global CSS */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  li{
    color:rgb(40, 46, 62);
    font-size: small;
    font-weight: 600;
    font-family: hurme_no2-webfont, -apple-system, "system-ui", sans-serif
  }
  